<h2>Hello {{user}},</h2>
    <h3>Please click below to confirm your email</h3>
<h4>
    <a href="{{ url }}">Confirm account</a>
</h4>
    <hr />
<h4>If you did not request this email you can safely ignore it!</h4>