<h2>Hello dear user,</h2>
    <h3>Please click below to reset your password</h3>
<h4>
    <a href="{{ url }}">Reset password</a>
</h4>
    <hr />
<h4>If you did not request this email you can safely ignore it!</h4>